importFrom(graphics,hist)
importFrom(grDevices,chull)
importFrom(grDevices,dev.off)
importFrom(grDevices,pdf)
importFrom(stats,density)
importFrom(stats,mad)
importFrom(stats,median)
importFrom(stats,qchisq)
importFrom(stats,quantile)
importFrom(stats,setNames)
importFrom(stats,var)
importFrom(utils,capture.output)
importFrom(utils,head)

export(autounmix_controls)
export(build_reference_matrix)
export(calc_residuals)
export(calculate_nps)
export(calculate_ssm)
export(create_control_file)
export(derive_unmixing_matrix)
export(gate_positive_cells)
export(gating_options)
export(generate_qc_report)
export(generate_scc_report)
export(get_control_spectra)
export(get_fluorophore_patterns)
export(get_sorted_detectors)
export(launch_gui)
export(plot_detector_residuals)
export(plot_nps)
export(plot_spectra)
export(plot_ssm)
export(plot_unmixing_matrix)
export(plot_unmixing_scatter_matrix)
export(save_unmixing_matrix)
export(unmix_samples)
export(validate_control_file_mapping)
